.main_menu_container {
    --fxbackground-color: #EEEEEE;
    -fx-alignment:center;
    -fx-font-family: Calibri;
}
.Left_container{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(two-pass-box, #AAAAAA, 5, 0, 0, 4);
    -fx-font-family: Calibri;
}
/*Title/Logo section*/
.title_container{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20 20 0 0;
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-font-family: Calibri;
}
.search_box{}
.title_container FontAwesomeIconView {
    -fx-fill: #132A13;
    -fx-font-family: Calibri;
}

.title_container Text{
    -fx-fill:#000000;
    -fx-font-size: 12;
    -fx-font-family: Calibri;
}
/*Navigation Section*/
.menu_container {
    -fx-padding: 10 10 10 10;
    -fx-spacing: 40;
    -fx-font-family: Calibri;
}
menu_container{
    -fx-font-family: Calibri;
}
.menu_container Button{
    -fx-pref-width: 115;
    -fx-pref-height: 40;
    -fx-background-color: #FFFFFF;
    -fx-fill: #d9bb79;
    -fx-font-sixe: 12;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, #000000, 5, 0, 0, 6);
}

.menu_container Button:hover{
    -fx-fill: #d9bb79;
}

.alt_menu_btn{
    -fx-pref-width: 110;
    -fx-pref-height: 40;
    -fx-background-color: #d9bb79;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15;
    -fx-alignment: center;
    -fx-font-family: Calibri;
    -fx-background-radius: 10;
    -fx-font-style: bold;
}

.alt_menu_btn FontAwesomeIconView{
    -fx-fill: #d9bb79;
    -fx-font-family: Calibri;
}

/*Report bug/suggestion */
.report_container {
    -fx-background-color:#d9bb79;
    -fx-background-radius: 20 20 0 0;
    -fx-alignment: center;
    -fx-space: 10;
    -fx-padding: 10;
    -fx-font-family: Calibri;
}

.report_container Text {
    -fx-font-weight: bold;
    -fx-fill: #000000;
    -fx-font-family: Calibri;
}

.report_container Label{
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-font-family: Calibri;
}

.report_container Button {
    -fx-pref-width: 80;
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-font-family: Calibri;
}

.report_container Button:hover {
    -fx-cursor:hand;
}

.report_container Button FontAwesomeIconView{
    -fx-fill: #d9bb79;
    -fx-font-family: Calibri;
}

.table-view .column-header-background .filler {
    -fx-cell-size: 20;
    -fx-background-color: #d9bb79;
    -fx-font-family: Calibri;
}

.table-view Text {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Calibri;
}