.sidebar {
    -fx-background-color:linear-gradient(to left, #d4b85d,#2B49B3);
    -fx-text-fill: #eaecff;
}
.sendButton {
    -fx-background-color: linear-gradient(to right, #d4b85d,#2B49B3);
    -fx-background-radius: 5px;

}
.minButton {
    -fx-background-color: linear-gradient(to right, #d4b85d, #2B49B3);
    -fx-background-radius: 5px;
    -fx-max-width: 20;
    -fx-text-fill: #FFFFFF;
}
.sendButton:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}
.minButton:hover{
    -fx-background-color: linear-gradient(to right, #d4b85d, #2B49B3);
    -fx-opacity: 1;
    -fx-scale-y: 1.1;
}
.minButton:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.sendButton:hover{
    -fx-background-color: linear-gradient(to right, #d4b85d, #2B49B3);
    -fx-opacity: 1;
    -fx-scale-y: 1.1;
}