
.sidebar{
    -fx-background-color:white;
    -fx-background-radius: 30px 30px 0px 0px ;
}
.sidebar_opt{
    -fx-fill:grey;
    -fx-background-radius: 30px 30px 0px 0px ;
}
.pane{
    -fx-background-color: #FFFFFF;
    -fx-border-color: #C1C1C1;
    -fx-background-radius:  30px 0px 30px 0px ;
    -fx-border-radius: 30px 30px 30px 30px ;
}
#dashboardLabel{
    -fx-font-size: 15;
    -fx-text-fill: Black;
    -fx-alignment: center;
}

/*noinspection ALL,CssUnusedSymbol*/
.button{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px;
    -fx-text-fill:#4a4a4a ;
}
.button:hover{
    -fx-background-color: #d4b85d;
    -fx-background-radius: 5px;
    -fx-text-fill:#FFFFFF ;
}
/*Gradient colors*/
.blueColoredCard{
    -fx-background-color:linear-gradient(to right, #d4b85d,#2B49B3);
    -fx-background-radius: 10px;
}
.coloredCard{
    -fx-background-color:linear-gradient(to left, #d4b85d,#2B49B3);
    -fx-background-radius: 10px;
}
.card1PlusButton{
    -fx-background-color: transparent;
    -fx-border-color: #C1C1C1;
    -fx-border-style: dashed;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}
.circle_lb{
    -fx-background-color: #f3f3f3;
    -fx-background-radius: 100%;
    -fx-border-radius: 5px;
}
.chart-bar{
    -fx-background-color: transparent;
}
.data0.chart-bar{
    -fx-background-color:#2B49B3;
    -fx-width: 15px;
    -fx-background-radius: 3px 3px 0px 0px ;
}
.data1.chart-bar{
    -fx-background-color:#2B49B3;
    -fx-width: 15px;
    -fx-background-radius: 3px 3px 0px 0px ;
}
.data2.chart-bar{
    -fx-background-color:#2B49B3;
    -fx-width: 15px;
    -fx-background-radius: 3px 3px 0px 0px ;
}
.data3.chart-bar{
    -fx-background-color:#2B49B3;
    -fx-width: 15px;
    -fx-background-radius: 3px 3px 0px 0px ;
}
.data4.chart-bar{
    -fx-background-color:#2B49B3;
    -fx-width: 15px;
    -fx-background-radius: 3px 3px 0px 0px ;
}