.TextField {
    -fx-background-radius: 5px;
    -fx-background-color: white;
    -fx-border-radius: 5px;
    -fx-opacity: .7;
    -fx-text-inner-color: black;
}

.Button {
    -fx-background-radius: 5px;
    -fx-background-color: #E7E7E7;
    -fx-border-radius: 5px;
}

.Font {
    -fx-font-family: "Apple LiSung";
    -fx-font-size: 22px;
    -fx-font-weight: 900;
}

.BackgroundImage {
    -fx-background-image: url("../../../Gold.jpeg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.ButtonFonts {
    -fx-font-family: "Apple LiSung";
    -fx-font-size: 18px;
}

.secondImage {
    -fx-background-image: url("../../../white.jpeg");
    -fx-opacity: .25;

}
*{
    -fx-primary-color: #007acc;
    -fx-secondary-color: #4B6EAF;
    -fx-grey-color: #b9b9b9;

    -fx-focus-color: -fx-secondary-color;
}

.text-field {
    -fx-accent: -fx-primary-color;
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}
.text-field:focused {
    -fx-background-color:  transparent;
}
