
.parent2{
    -fx-background-image: url('../../../banknewtry.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;

}
.parent{
    /*-fx-background-color: linear-gradient(bottom , #181c2c, white);*/
    -fx-background-image: url('../../../optionalBank.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;

}
.label-font{
    color: #7c795d; font-family: 'Trocchi', serif; font-size: 28px; font-weight: normal; line-height: 32px; margin: 0;
}
.pane{
    //#2196f3 transparent;
    -fx-background-image: url('../../../Gray.jpg');
    /*-fx-effect: dropshadow(three-pass-box,#BEBEBE, 30, 0.5, 0, 0);*/

}
.windows7{

}

.white-pane{
    -fx-background-color: #ffffff;
}
.blue-panel{
    -fx-background-color: #151928;
}
.tf_box{
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-text-fill: #DEDEE4;
    -fx-border-width: 0px 0px 1px 0px;
}

.blue-btn{
    -fx-background-color: #2196f3;
    -fx-background-radius: 5px;
}


